<!-- Footer Start -->
    <footer class="footer">
        <div class="footer-top">
            <div class="alta-boxed-width">
                <div class="alta-row">
                    <div class="alta-offset-col-1 alta-col-lg-10">
                        {{ page.footer_top }}
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="alta-boxed-width">
                <div class="alta-row">
                    <div class="alta-offset-col-1 alta-col-lg-10">
                        <div class="footer-bottom-inner">
                            {{ page.bottom_top }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>