<!-- map and contact start -->
        <div class="map-contact">
            <div class="alta-fluid-width">
                <div class="alta-row">
                    <div class="alta-col-lg-6 px-0">
                        <div class="map">
                            {{ page.footer_first }}
                        </div>
                    </div>
                    <div class="alta-col-lg-6 px-0">
                        {{ page.footer_second }}
                    </div>
                </div>
            </div>
        </div>
        <!-- map and contact end -->